.areacontain{
    width: 100%;
    height: 484px;
    background: #F7FDFF;
    display: flex;
    justify-content: center;
    align-items: center;

}
.headia{
    display: flex;
    width: 232px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    

}
.headarea{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
}
.maintxt{
    width: 1200px;
    height: 284px;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;


}
@media (max-width:800px){
    .areacontain{
        width: 90%;
        height: max-content;
        background: #F7FDFF;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom:  0.55rem;
    
    }
    .headia{
        display: flex;
        width: 75%;
        height: 20px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        
    
    }
    .headarea{
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
        text-align: left;
    }
    .maintxt{
        width: 80%;
        height: fit-content;
        background-color: #fcfcfc;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 300;
        line-height: 13px;
        letter-spacing: 0.02em;
        text-align: left;
    
    
    }
    .desct{
        font-size: 12px;
    }
    .signinbtn{
        width: 80%;
        height: 32px;
    }
}