.foot-section1{
    width:100%;  
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: space-around;
}
.foot-section2{
    max-width: 100%;
    height: 78px;
    background: #F7F5F9;
    margin-top: 3rem;
    box-shadow: 2px 0px 4px 0 rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.005em;
    text-align: left;

}
footer{
    max-width: 100%;
    
}
.foot-head{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.05em;
    text-align: left;


}

.invite {
    width:300px;
    height:40px;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    height: 100%;
    border: 1px solid #8064A2;
    border-radius: 8px 0px 0px 8px;
    outline: none;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: #939CA3;
    ;
  }
  
  
  .searchButton {
    width: 79px;
    height: 40px;
    border: 1px solid #8064A2;
    background: #8064A2;
    text-align: center;
    color: #fff;
    font-size: 15px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
  }

.social{
    min-width: 360px;
    


}
.social-icons{
    width: 360px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
@media (max-width:800px){
    .foot-section1{
        width:100%;  
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.05em;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        margin-left: 3rem;

    }
    .foot-section2{
        width: 100%;
        height: 40px;


    
    }
    .foot-social-img{
        width: 24px;
        height: 24px;
    }
    footer{
        max-width: 100%;
        
    }
    .foot-head{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0.05em;
        text-align: left;
    
    
    }
    
    .invite {
        width:300px;
        height:40px;
        position: relative;
        display: flex;
      }
      
      .searchTerm {
        width: 100%;
        height: 100%;
        border: 1px solid #8064A2;
        border-radius: 8px 0px 0px 8px;
        outline: none;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        color: #939CA3;
        ;
      }
      
      
      .searchButton {
        width: 59px;
        height: 40px;
        border: 1px solid #8064A2;
        background: #8064A2;
        text-align: center;
        color: #fff;
        border-radius: 0 8px 8px 0;
        cursor: pointer;
      }
    
    .social{
        min-width: 360px;
        
    
    
    }
    .social-icons{
        width: 304px;
        height: 54px;

        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
}