.card{
    width: 608px;
    height: 297px;
    

}
.cardtxt{
    padding: 2rem;
}
.desccard{
    margin: 2rem 0rem;
}
/* 
 */
 @media (max-width:800px){
   .card{
    width: 100%;
    height: 216px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
   }
   .cardtxt{
    padding: 1rem;
}
.desccard{
    margin: 1rem 0rem;
}
 }